################################################################################
#
#  Copyright (C) 2020 BadPixxel <www.badpixxel.com>
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
#  For the full copyright and license information, please view the LICENSE
#  file that was distributed with this source code.
#
################################################################################

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=253214574773e1482bb6df8311466040
###< symfony/framework-bundle ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###
