services:
    _defaults:
        autowire: true
        autoconfigure: true

    ############################################################################
    # AutoWire Admin Controllers
    BadPixxel\BrevoBridge\Admin\Controller\:
        resource: '../../Admin/Controller'
        tags: ['controller.service_arguments', 'container.service_subscriber']

    ############################################################################
    # AutoWire Admin Classes
    BadPixxel\BrevoBridge\Admin\:
        resource: '../../Admin'
        exclude: '../../Admin/Controller'

