
{# EMBEDD EMAIL FROM COMPILED TEMPLATE #}
{% include tmplPath with tmplParams only %}

{# ADD SWITCH MENU  #}
<div align="center">
    <br />
    <hr />
    <a href="{{ path('admin_badpixxel_sendinblue_templates_list') }}">
        Back to List
    </a>
    <hr />
    <br />
</div>