
includes:
#    - '../vendor/phpstan/phpstan-symfony/extension.neon'
#    - '../vendor/phpstan/phpstan-doctrine/extension.neon'
    - '../vendor/phpstan/phpstan-phpunit/extension.neon'
    - '../vendor/phpstan/phpstan-phpunit/rules.neon'

parameters:
#    bootstrap: "./phpstan.php"
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true 

    universalObjectCratesClasses:
            - ArrayObject

    excludes_analyse:
        # Makes PHPStan crash
        - '**/DependencyInjection/Configuration.php'

    ignoreErrors: 
