{#
    DEFAULT FOOTER
#}

<mj-section mj-class="bg-white no-padding">
    <mj-column>
        <mj-divider border-width="1px" border-color="#8d8d8d" width="95%"></mj-divider>
    </mj-column>
</mj-section>

<mj-section mj-class="bg-gray no-padding">

    <mj-column width="80%" vertical-align="top">
        <mj-text mj-class="footer-title">
            <p><b>This is Footer Title</b></p>
        </mj-text>
        <mj-divider mj-class="footer-div"></mj-divider>
        <mj-text mj-class="footer-text">
            <p style="line-height:25px">This is Footer Text</p>
        </mj-text>
    </mj-column>

</mj-section>
